[Desktop Entry]
Name=development directory settings
Exec=/usr/bin/bash {{@@ _dotfile_abs_dst @@}}/develop.sh
Type=Application
Categories=Development;Utility;
X-KDE-autostart-phase=2
X-GNOME-Autostart-Phase=Panel
