[Unit]
Description=Autostart run
After=local-fs.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/bash {{@@ projects.script_dir @@}}/services/develop-autostart.sh
Restart=no

[Install]
WantedBy=default.target
