[Unit]
Description=Run the script of nightly

[Service]
Type=oneshot
ExecStart=/usr/bin/bash {{@@ projects.script_dir @@}}/services/daily.sh
Restart=no

[Install]
WantedBy=default.target
