[Unit]
Description=Run the script of nightly

[Service]
Type=oneshot
ExecStart=/usr/bin/bash {{@@ _dotfile_abs_dst @@}}/scripts/daily.sh
Restart=no

[Install]
WantedBy=default.target
