[Unit]
Description=Run the script of nightly

[Service]
Type=oneshot
ExecStart=/usr/bin/bash {{@@ _dotdrop_workdir @@}}/scripts/daily.sh
Restart=no

[Install]
WantedBy=default.target
