[project]
org = "{{@@ projects.source_info['iree'].org @@}}"
name = "{{@@ projects.source_info['iree'].name @@}}"
source_dir = "{{@@ projects.root_dir @@}}/{{project.org}}/{{project.name}}"
build_dir = "_build/{{user.branch}}-{{user.build_type}}"
install_dir = "{{project.build_dir}}"
build_system = "cmake"
generator = "Ninja"
toolchain = "clang"

[git]
url = "https://github.com/iree-org/iree.git"
main_branch = "main"
auto_stash = true

[presets.common]
extends = ["llvm/common"]

[presets.common.definitions]
IREE_BUILD_COMPILER = true
IREE_BUILD_TESTS = true
IREE_BUILD_SAMPLES = true
IREE_BUILD_PYTHON_BINDINGS = false
IREE_BUILD_BINDINGS_TFLITE = false
IREE_BUILD_BINDINGS_TFLITE_JAVA = false
IREE_TARGET_BACKEND_DEFAULTS = false
IREE_TARGET_BACKEND_LLVM_CPU = true
IREE_TARGET_BACKEND_VULKAN_SPIRV = true
IREE_HAL_DRIVER_DEFAULTS = false
IREE_HAL_DRIVER_LOCAL_SYNC = true
IREE_HAL_DRIVER_LOCAL_TASK = true
IREE_HAL_DRIVER_VULKAN = true
IREE_INPUT_STABLEHLO = true
IREE_INPUT_TORCH = true
IREE_INPUT_TOSA = true
IREE_BUILD_BUNDLED_LLVM = true

[presets."configs.debug"]
extends = ["common"]

[presets."configs.release"]
extends = ["common"]
