[project]
org = "khronos"
name = "slang"
source_dir = "{{env.HOME}}/Projects/{{project.org}}/{{project.name}}"
build_dir = "_build/{{user.branch}}"
install_dir = "_build/{{user.branch}}"
build_system = "cmake"
generator = "Ninja Multi-Config"
toolchain = "clang"

[git]
url = "https://github.com/shader-slang/slang.git"
main_branch = "master"
auto_stash = true

[presets.common.definitions]
SLANG_SLANG_LLVM_FLAVOR = "DISABLE"
SLANG_ENABLE_CUDA = false
SLANG_ENABLE_OPTIX = false
SLANG_ENABLE_DX_ON_VK = false
SLANG_ENABLE_DXIL = true

[presets."configs.debug"]
extends = ["common"]

[presets."configs.release"]
extends = ["common"]

# SLANG_RUN_SPIRV_VALIDATION=1 SLANG_USE_SPV_SOURCE_LANGUAGE_UNKNOWN=1 \
#      _build/Debug/bin/slang-test \
#      -use-test-server -category full \
#      -expected-failure-list tests/expected-failure-github.txt \
#      -expected-failure-list tests/expected-failure-no-gpu.txt \
#      -skip-reference-image-generation -show-adapter-info -enable-debug-layers true
