[project]
org = "{{@@ projects.source_info['spirv-tools'].org @@}}"
name = "{{@@ projects.source_info['spirv-tools'].name @@}}"
source_dir = "{{@@ projects.root_dir @@}}/{{project.org}}/{{project.name}}"
build_dir = "_build/{{user.branch}}"
build_system = "cmake"
generator = "Ninja Multi-Config"
toolchain = "clang"

[git]
url = "https://github.com/KhronosGroup/SPIRV-Tools.git"
main_branch = "main"
auto_stash = true

[presets.common.definitions]
SPIRV_COLOR_TERMINAL = true
SPIRV_BUILD_FUZZER = false
SPIRV-Headers_SOURCE_DIR = "{{@@ projects.root_dir @@}}/{{@@ projects.source_info['spirv-headers'].org @@}}/{{@@ projects.source_info['spirv-headers'].name @@}}"

[presets."configs.debug"]
extends = ["common"]

[presets."configs.release"]
extends = ["common"]

# dependences
# python3 utils/git-sync-deps --treeless
